<div class="dashboard">
    <div class="dashboard-section section-ip">
      <h2 class="dashboard-heading">ip address</h2>
      <div  class="dashboard-info">
        <p class="dashboard-text" *ngIf="!isLoading && ipData">{{ipData.ip}}</p>
      </div>
    </div>
    <div class="dashboard-section section-location">
      <h2 class="dashboard-heading">location</h2>
      <div  class="dashboard-info">
        <p class="dashboard-text" *ngIf="!isLoading && ipData">{{getFormattedLocation()}}</p>
      </div>
    </div>
    <div class="dashboard-section section-timezone">
      <h2 class="dashboard-heading">timezone</h2>
      <div  class="dashboard-info">
        <p class="dashboard-text" *ngIf="!isLoading && ipData">{{ipData.utc_offset | utcOffset }}</p>
      </div>
    </div>
    <div class="dashboard-section dashboard-section--last section-isp">
      <h2 class="dashboard-heading">isp</h2>
      <div  class="dashboard-info">
        <p class="dashboard-text" *ngIf="!isLoading && ipData">{{ ipData.org ? ipData.org : '-' }}</p>
      </div>
    </div>
</div>